PROJECT_ID=spread-tutorial-414816
REGION=us-central1
BQ_LOCATION=us-central1
RAW_BUCKET=spread-tutorial-414816-weather-raw
BQ_RAW_DATASET=weather_raw
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=weather_meta
POSTGRES_USER=weather
POSTGRES_PASSWORD=weather
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
